.button {
    /*height: 40px;*/
    /*width: 80px;*/
    background: #393939;
    color: white;
    /*border-radius: 25px;*/
    /*position: absolute;*/
    /*top: 110px;*/
    text-align: center;
}

.button:hover {
    background: #b71c1c;
}
