.button {
    /*height: 40px;*/
    /*width: 80px;*/
    background: #b71c1c;
    color: white;
    /*border-radius: 25px;*/
    /*position: absolute;*/
    /*top: 110px;*/
    text-align: center;
}

.button:hover {
    background: #dc3b1a;
}

.app {
    background-color: #424242;
}

.float-left {
    color: white;
}

.pt-3 {
    color: white;
}
