.HomePageMain {
    position: absolute;
    /*margin: auto;*/
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background: #F2F3F4;
    overflow: auto;
}

.List {
    background: #FBFCFC;
    color: #B71C1C;
}
